
main{
  display:flex;
  flex-direction:row;

}

div{
  display: inline-block;
  
}
.alignRight {
  margin-left: 20px;
}

.final{
  position: relative;
  left: 10px;
  top: 25rem;
  font-size: 2rem;
}


.reverse{
  flex-direction:row-reverse !important;
  li.game-spacer{ 
    border-right: none !important;
    border-left:1px solid #aaa !important;
    min-height:40px;
  }
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:110px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }
